.section-course{
    padding-top: 5px;
    position: relative;
}

.container{
    margin-left: -8px;
}

h2{
    text-shadow: 0 0 3px blue;
    color: white;
    display: inline;
    position: relative;
    width: 80%;
    padding-right: 89%;
}

.modal{
    display: inline;
}

.title-modal{
    margin-top: -5px;
    border-bottom: 1px solid black;
}

.course-name{
    margin-bottom: 30px;
}

.calendar{
    margin-bottom: 30px;
}

.button-modal button{
    width: 110px;
    color: black;
}

.course-name input{
    width: 235px;
}

.edit-delete-cell{
    display: inline-flex;
    margin-right: -5%;
}

.value {
    display: inline;
}

h3{
    display: inline;
}
